/* footer */
.footer {
  padding-top: 30px;
  background-color: #000;
  color: #fff;
}
.footer__nav {
  display: flex;
  justify-content: center;
 column-gap: 30px;
 padding-top: 30px;
}
.footer__nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.footer__nav a:hover {
  color: var(--rose);
}
.footer__socials {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  padding-top: 30px;
}
.footer__socials img:hover  {
  opacity: 0.5;
}
.footer__copyriting {
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999;
}